body {
    padding-top: 60px;
    background-color: #f5f5f9; 
}

.annotation-controls {
    margin-bottom: 1rem;
}

.annotation-button {
    margin-right: 5px;
    font-size: 1.5rem;
}

.annotation-button.active {
    border: 1px solid #444ea8;
    border-radius: 5px;
}

.annotation-counts span {
    margin-right: 15px;
    font-weight: bold;
}

.pdf-page-container {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    display: inline-block;
    background-color: #f8f9fa;
    overflow: hidden;
    cursor: grab;
    line-height: 0;
    vertical-align: top;
}

.pdf-page-image {
    display: block;
    width: 100%;
    height: auto;
    transform-origin: 0 0;
    transition: transform 0.1s ease-out;
    cursor: crosshair;
}

.pdf-page-container.panning .pdf-page-image,
.pdf-page-container.panning {
    cursor: grabbing;
}

.feedback-annotation-mark {
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: none;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-annotation-mark img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.feedback-annotation-mark span {
    font-size: calc(30px / var(--zoom-scale, 1));
}

.annotation-controls {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 9999;
    transform: scale(calc(1 / var(--zoom-scale, 1)));
    transform-origin: top right;
    border: #444ea8 solid 2px;
}

.tool-button {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 6px;
    background-color: #f8f9fa;
    transition: border 0.2s ease,
    background-color 0.2s ease;
}

.tool-button:hover {
    border-color: #444ea8;
    background-color: #e9ecef;
}

.tool-button img {
    width: 22px;
    height: 22px;
}

.annotation-counts span {
    margin-right: 15px;
    font-weight: bold;
}

.annotation-controls span {
    gap: 4px;
}


